.header {
  padding: 20px;
}

.brand {
  font-size: 20px;
  margin-right: auto;
  font-weight: bold;
}
.nav-list {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  list-style: none;
}

.list-item a {
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
