.post-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post-item {
  list-style: none;
  padding: 40px;
  border-radius: 5px;
  background-color: var(--card-bg-color);
  color: black;
}

.post-title {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.post-author {
  text-transform: uppercase;
  color: #444;
  display: block;
  text-align: right;
}

.cta {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
