h1 {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  text-transform: uppercase;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-controller {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--card-bg-color);
}

input:focus,
input:active {
  border: none;
}

.btn {
  width: 100%;
  padding: 20px 15px;
  font-size: 20px;
}
